@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    --blackcolor--:#000000;
    --Maincolor--: #5c412e;
    --Secondarycol--:#bea473;
    --white--:#ffffff;
    --accent--:#203937;
    --accent2--:#4e6e6f ;
}
body {
    position: relative;
    min-height: 100vh;
}
.dark-mode {
    --white--: #000000;
    --blackcolor--: #ffffff;
    color:var(--Maincolor--);
}
/* backgrond */
.Top_nav-container{
    height: auto;
}
.Background {
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.5)),url(/Images/back.jpg);
    background-repeat: no-repeat, repeat;
    padding: 15px;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background-size: cover; */
    /* background-position: center; */
}
.Background-2{
    /* background-image: radial-gradient(circle, var(--Secondarycol--) 20%, var(--Maincolor--) 120%); */
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,.45)),url(/Images/menu-back.jpg);
    background-repeat: no-repeat;
    padding: 15px;
    width: 100%;
    min-height: 100vh !important;
  
    height: auto;
    object-fit: fill;
    background-size: cover;
    background-position: center;
    transition: all .3s ease 0s;
    transition-property: background-image; 
}
/* scrollbar------------- */
/* width */
::-webkit-scrollbar {
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
background: var(--accent2--); 
}
/* Handle */
::-webkit-scrollbar-thumb {
background: var(--Secondarycol--); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--blackcolor--); 
}

/* links */
li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: ecf0f1;
    text-decoration: none;
    background-color: transparent;
}
/* --------header------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
    background-color: transparent;
}
.logo {
    cursor: pointer;
    width: 10%;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li, .Top_nav{
    color: var(--Secondarycol--);
    text-shadow: 2px 3px 1px var(--blackcolor--);
    transition: all 0.2s ease 0s;
}
.nav_links li, .Top_nav:hover{
   color: var(--accent2--);
   text-shadow: 3px 3px 1px rgba(0, 0, 0,2);
   transition: all 0.2s ease 0s;
}
a img .account-button{
    cursor: pointer;
    
}

.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-options {
    z-index: 5;
    display: block;
    position: absolute;
    overflow: auto;
   display: inline;
    
    
  }  
.logout-btn,.snipcart-checkout{
    border:none;
    margin-top: 10px;
    margin-left: 5px;
    border-radius:5px;
    padding:10px 10px;
    font-size:1px;
    cursor:pointer;
}
button{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    a:visited { text-decoration: none; }
    padding: 9px 20px;
    background-color: var(--blackcolor--);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: var(--Secondarycol--);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,.6); 
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.6);
}
/* button::before{
    content: url(/Images/cart.png);
    height: 5px ;
    width: 5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 8px;
} */
button:hover{
    background-color: var(--Secondarycol--);
    color: var(--blackcolor--);
}
/* PageContent--------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* About Start */
#about {
    height: 80vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
#about .title,
#offers .title,
#menu .title {
text-align: center;
margin-bottom: 4rem;
}

#about h2,
#offers h2,
#menu h2 {
font-size: 40px;
margin-bottom: 20px;
}

#about h2 {
color: var(--accent--);
}

#about .title p {
font-weight: 600;
font-size: 14px;
color: #9a9a9a;
}

#about .about-content {
display: flex;
justify-content: space-between;
}

#about .about-content p {
margin-right: 7rem;
line-height: 1.6;
color: #9a9a9a;
font-weight: 500;
}

#about img {
max-width: 450px;
}

#about .about-content a {
margin-top: 2rem;
}
  /* About End */
/* menu-page */

.headline-wrapper{
    width: 1720px;
    max-width: 100%;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: auto !important;
    margin-left: auto !important;
}
.headline{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 20px;
    background-color: var(--accent--);
    max-width: 100%;
    transition: background 0.5s, border 0.5s, border-radius 0.5s, box-shadow 0.5s;
}
.headline-inner{
    background-color: var(--white--);
    padding: 50px;
    transition: all 0.5s, background 0.5s, border 0.5s, border-radius 0.5s, box-shadow 0.5s;
    padding: 20px;
}
.headline-content{
    align-items: center;
    gap: 0px;
    flex-flow: row;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: none !important;
    position: relative;
    width: auto !important;
}
.headlineImg{
    display: block;
    height: inherit;
    margin: 0 auto !important;
    max-height: 100%;
    max-width: 100%;
    width: 40%;
}
.headline p{
    text-align: center;
    color: #403231;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
}
.headline h1{
    text-align: center;
    color: #403231;
    font: Arima Madurai;
    font-size: 68px;
    line-height: 1.4em;
    font-weight: 100;
    text-transform: capitalize;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 30px;
}
.menu-wrapper{
    padding-top: 35px;
    padding-bottom: 35px;
}
.Menu-flex{
    flex-direction: column;
    display: flex;
    transition: all .5s, background 0.5s, border 0.5s, border-radius 0.5s, box-shadow 0.5s;
}
.tabs-nav{
    position: relative;
}
.tabTitles{
    justify-content: center;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    flex-direction: row;
    margin-bottom: 60px;
    transition: border 0.5s, border-radius 0.5s, box-shadow 0.5s, background 0.5s;
 }
 .btn{
    background-color: var(--white--);
    margin-bottom: 15px;
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--accent--);
    border-style: solid;
    color: var(--blackcolor--);
    transition: border 0.3s, border-radius 0.3s, box-shadow 0.3s, background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    flex-direction: row;
    margin-right: 30px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,.6); 
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.6);
}
 .active, .btn:hover{
    background-color: var(--accent--);
    margin-bottom: 15px;
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--accent--);
    border-style: solid;
    color: var(--white--);
    transition: border 0.3s, border-radius 0.3s, box-shadow 0.3s, background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    flex-direction: row;
    margin-right: 30px;
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,.6); 
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.6);
 }

.Menu-container{
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -10px;
}
.Menu-padding{
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}
div.Menu {
    margin: 2%;
    padding: 0;
    border: 10px solid var(--white--);
    border-radius: 2px;
    float: left;
    width: 29%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--white--);
    transition: all .3s ease 0s;
}
/* .Add-to-cart-button{
    opacity: 0;
    transition: all .3s ease 0s;
} */
/* div.Menu:hover .Add-to-cart-button {
    opacity: 1;
} */
div.Menu:hover{
    border: 10px solid var(--Secondarycol--);
}
.image-container{
    position: relative;
 }
div.Menu img {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
.button-on-image {
    top: 80%;
    left: 30%;
    position: absolute;
  }
div.desc {
    background-color: var(--white--);
    text-decoration: none;
    padding: 10px;
    text-align: center;
  }
div.desc a{
    text-shadow: 0px 0px 5px rgba(0, 0, 0,.2);
    text-decoration: none;
    padding: 15px;
    text-align: center;
    font-family: Arima Madurai;
    font-size: 34px;
    line-height: 1.3em;
    font-weight: 700;
    margin: 0px;
    color: var(--blackcolor--);
  }
.price::before {
    content: "€";
}
div.desc .price{
    font-family: Arima Madurai;
    font-size: 30px;
    color: var(--blackcolor--);
}
/* ----------footer---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
.FooterContainer{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--blackcolor--);
    max-width: 100%;
    transition: background 0.5s, border 0.5s, border-radius 0.5s, box-shadow 0.5s;  
}
.container-side-by-side{
    display: flex; 
    gap: 0px;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-evenly;
}
.google-map {
    position: relative;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
}
.google-map iframe{
    height: 95%;
    width: 95%;
    touch-action: pan-x pan-y;
}

 h4{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: ecf0f1;
    text-decoration: none;
    clear: both;
    color: var(--Secondarycol--); 
    display: block;
    font-size: 25px;
    font-weight: 700;
    height:35px;
    line-height: 35px;
    margin-block-end: 15px;
    margin-block-start: 0px;
    margin-bottom: 15px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: left;
    text-size-adjust: 100%;
    text-transform: none;
    transition-behavior: normal;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    unicode-bidi: isolate;
    width :255.95px;
    
}
#Address{
    display: block;
    width: 18%;
    order: unset;
    padding-right: 20px;
    padding-left: 20px;
    transition: all .5s, background 0.5s, border 0.5s, border-radius 0.5s, box-shadow 0.5s;
}
#AddressP{
    text-align: left;
    color: var(--white--);
    font-family: "Lato", sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 400;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    
}
#Office-Hours {
    display: block;
    width: 22%;
    order: unset;
    padding-right: 5%;
    padding-left: 5%;
    transition: all .5s, background 0.5s, border 0.5s, border-radius 0.5s, box-shadow 0.5s;
}
#Office-Hours h3{
    color: var(--white--);
    font-size: 16px;
    font-weight: 400;
    height: 44.8px;
    line-height :22.4px;
    text-align :left;
    text-size-adjust: 100%;
    text-transform :none;
}
#Office-Hours h3:hover{
    color: var(--Secondarycol--);
}
#ContactUs{
    display: block;
    width: 15%;
    order: unset;
    transition: all .5s, background 0.5s, border 0.5s, border-radius 0.5s, box-shadow 0.5s;
}
#ContactUs h3{
    color:var(--white--);
    font-size: 16px;
    font-weight: 400;
    height: 44.8px;
    line-height :22.4px;
    text-align :left;
    text-size-adjust: 100%;
    text-transform :none;
}
#ContactUs h3:hover{
    color: var(--Secondarycol--);
}

.footerBottom{
    background-color: var(--blackcolor--);
    padding-top: 20px;
    padding-bottom: 40px;
    transition: all 0.5s, background 0.5s, border 0.5s, border-radius 0.5s, box-shadow 0.5s;

}  
.footerBottom p{
    color: var(--Secondarycol--);
    text-align: center;
}
.SocialIcons{
    background-color: var(--blackcolor--);
    display: flex;
    justify-content: center;
}
.SocialIcons a{
    background-color: var(--blackcolor--); 
    text-decoration: none;
    padding: 10px;
    background-color: var(--Secondarycol--);
    margin: 10px;
    border-radius: 50%;
    transition: all 0.5s ease 0s;
}
.SocialIcons a i{
    font-size: 2em ;
    color: black;
    opacity: 0.9;
    transition: all 0.5s ease 0s;
}
/* icon hover effect */
.SocialIcons a:hover{
    background-color: var(--blackcolor--);
}
.SocialIcons a:hover i{
    color: var(--Secondarycol--);
   
}
.designer{
    opacity: .7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}


.snipcart-add-item {
    opacity: 0;
    display: flex;
    color: var(--Secondarycol--);
    color: var(--color-buttonPrimary,var(--Secondarycol--));
    background-color: var(--blackcolor--);
    background-color: var(--bgColor-buttonPrimary,var(--blackcolor--));
    cursor: pointer;
    transition: .2s ease-out;
    transition-property: color,border-color,background-color,box-shadow;
    margin-left: 15px;
    transition: all .3s ease 0s;
}
div.Menu:hover .snipcart-add-item {
    opacity: 1;
}
/* @media (max-width: 700px){
    .footerNav ul{
        flex-direction: colum;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
} */
